
.Table-body-2 {
    margin: 10px 2rem 3rem 2rem;

    width: 1360px;
    height: 1769px;

    font-size: 0.7rem;
}

.AddButton{
    position: relative;
    font-family: 'Roboto',sans-serif;
    left: 23%;
    background-color:#e23c52;
    color: white;
    font-size: 1rem;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}


.AddButton:hover {
    background-color: #e786ab; /* Green */
    color: white;
}

.ReactTable .rt-thead.-header {
    -webkit-box-shadow: 0 2px 15px 0 rgba(0,0,0,0.15);
    box-shadow: 0 2px 15px 0 rgba(0,0,0,0.15);
    background-color: #2f4f4f;
    color: #f7f3ed;
}






